
.dream{
display: flex;
background-image: url(img/dream-bg.png);
background-repeat: no-repeat;
background-position: right;

}
h1{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.orange{
  color: rgb(190, 28, 82) ;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.first-para{
  margin-top: 5%;  
  padding-left: 5%;
  margin-left: 5%;
    width: 50%;
}
.image img{
    
    
    margin-left: 5%;
    padding-left: 10%;
    margin-top: 25%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(221, 16, 119));
    border-radius: 10px;
    padding: 10px 10px;
    
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.scndimage img{
    margin-right: 5%;
    padding-left: 10%;
 
    width: 50%;
}
.flexible{
    margin-bottom: 100px;
    display: flex;
}
.twopart{
    width: 50%;
    margin-left: 10%;
    margin-top: 5%;  
    padding-left: 5%;
    
}

.second-part{
   
    box-shadow: 10px 15px 40px gray;
    margin-left: 5% ;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
#full-stack{
border-left: 5px solid;
border-image: linear-gradient(orange, rgb(221, 16, 119));
border-image-slice: 1;
}
#baby-web{
    border-left: 5px solid;
    border-image: linear-gradient(yellow, blue
    );
    border-image-slice: 1;
}
.experience{
    background-image: url(img/exp-bg.png);  
    background-repeat: no-repeat;
    background-position: left;
}
.footer{
    text-align: center;
}